
<div id="body">
    <div class="tile">
            <div class="box">
                <img src="assets/profile.jpeg" alt="profile picture">
            </div>
            <h3>
                Hi, Welcome! Let me introduce myself first! My name is
                Quan Trinh and i'm a fullstack developer. I have a strong
                passion for programming and i'm always cravings for new knowledge.
                I'm usually perceived as a mysterious but friendly person by
                people around me. I've been developing application for 3 years
                since i enrolled Computer Programming Analyst at George Brown College
                and i'm so much fall in love with programming. Nerdly saying, i like
                to discuss with my friends about knowledge, mechanism and issues
                around programming. I also really like board games too!
            </h3>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="tile">
        <div class="right">
            <img src="assets/grad.png" alt="grad">
            <h2>George Brown College, Toronto On (2016 - 2019)</h2>
        </div>
    </div>
    <br>
    <div class="tile">
        <div class="left">
            <img src="assets/location.png" alt="location">
            <h2>Toronto, ON, Canada</h2>
        </div>
    </div>

    <div class="tile">
        <div class="left">
            <img src="assets/certificate.png" alt="location">
            <h2>Computer Programming Analyst</h2>
            <h4>GPA : 3.78/4.0</h4>
        </div>
    </div>

    <div class="tile">
        <div class="left">
            <img src="assets/Strength.png" alt="strength">
            <h2>Angular, ReactJs, Mean, Mern, Java, C#, OOD</h2>
        </div>
    </div>

    <div class="tile">
        <div class="left">
            <img src="assets/hobby.png" alt="hobby">
            <h2>Love playing video games, sushi, Netflix, discussing programming-related topics</h2>
        </div>
    </div>
</div>