<div id="body">
  <h1>Projects</h1>
  <mat-divider></mat-divider>
  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>Party to Sheep</h3>
    </div>
    <ul>
      <li>
        A websocket game where a user can generate a room with a unique code, and up to 8 other users can join that room
      </li>
      <li>MongoDB, Angular, ExpressJs, Nodejs, Socket.io</li>
      <li><a target="_blank" href="https://github.com/koleopteros/hack-a-thong">Go to Repository</a></li>
      <li><a target="_blank" href="http://jackbox.herokuapp.com">Demo</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>ChatApp</h3>
    </div>
    <ul>
      <li>ChatRoom enables users to create, join and converse with another users</li>
      <li>MongoDB, ReactJs, ExpressJs, Nodejs, Socket.io</li>
      <li><a target="_blank" href="https://github.com/franklintrinh367/chatapp">Go to Repository</a></li>
      <li><a target="_blank" href="https://franklinchatapp.herokuapp.com">Demo</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>JC-Consulting</h3>
    </div>
    <ul>
      <li>A Website for JC company to establish the hiring and looking for employees process</li>
      <li>MongoDB, Angular, ExpressJs, Nodejs, Docx API, JWT token</li>
      <li><a target="_blank" href="https://github.com/franklintrinh367/mean_project">Go to Repository</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>Roadside Assistance</h3>
    </div>
    <ul>
      <li>An interactive website for auto repair company and allow users to book services as well as manage their accounts</li>
      <li>ASP.NET, Bootstrap, MySQL, Apache</li>
      <li><a target="_blank" href="https://github.com/tddag/roadAssistanceProject">Go to Repository</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>IOS Calculator</h3>
    </div>
    <ul>
      <li>Who thinks calculator has that much of logics? An IOS app that allows user to do math</li>
      <li>Swift, XCode, IOS</li>
      <li><a target="_blank" href="https://github.com/franklintrinh367/calculator">Go to Repository</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>Personal Restaurant Guide</h3>
    </div>
    <ul>
      <li>An android app that enables users to choose, find and reserve a place at on of their favorite restaurants</li>
      <li>Java, Android Studio, Room Database, SQLite</li>
      <li><a target="_blank" href="https://github.com/iamhaobui/android_project">Go to Repository</a></li>
    </ul>
  </div>

  <div class="tile">
    <div class="item">
      <mat-icon>work</mat-icon>
      <div class="padder"></div>
      <h3>Word Hunt</h3>
    </div>
    <ul>
      <li>An indie cross-word game made using Swift</li>
      <li>Swift, XCode, IOS, SQLite</li>
      <li><a target="_blank" href="https://github.com/csantin/iosProject">Go to Repository</a></li>
    </ul>
  </div>
</div>