:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: absolute;
    width: 100%;
}

.block {
    width: 100%;
}

#body {
    display: flex;
    flex-flow: column;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    flex-grow: 8;
}