<div id="body">
    <h1>Contact</h1>
    <mat-divider></mat-divider>
    <div class="item">
        <div class="left">
            <div class="left">
                <mat-icon>email</mat-icon>
                <div class="padder"></div>
                <p>franklintrinh367@gmail.com</p>
            </div>
        </div>
        <div class="right">
                <mat-icon>phone</mat-icon>
                <div class="padder"></div>
                <p>(647) - (570) - (1058)</p>
        </div>
    </div>

    <div class="item">
        <div class="left">
            <div class="left">
                <mat-icon>link</mat-icon>
                <div class="padder"></div>
                <p>linkedin.com/in/quantrinh-395/</p>
            </div>
        </div>
        <div class="right">
                <mat-icon>link</mat-icon>
                <div class="padder"></div>
                <p>github.com/franklintrinh367</p>
        </div>
    </div>

    <div class="item">
        <div class="left">
            <div class="left">
                <mat-icon>location_on</mat-icon>
                <div class="padder"></div>
                <p>Toronto, ON</p>
            </div>
        </div>
        <div class="right">
                <mat-icon>link</mat-icon>
                <div class="padder"></div>
                <p>facebook.com/nauq.hnirt</p>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>